/* Product Details */
.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem;
}

.details-image {
	flex: 1 1 40rem;
}

.details-image img {
	max-width: 60rem;
	width: 100%;
}

.details-info {
	flex: 1 1 30rem;
}

.details-action {
	flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
	list-style-type: none;
	padding: 0;
}

.details-info li,
.details-action li {
	margin-bottom: 1rem;
}

.details-action {
	border: 0.1rem #808080 solid;
	border-radius: 0.5rem;
	background-color: #f8f8f8;
	padding: 1rem;
}

.details-action ul li:last-child {
	display: flex;
	flex-direction: column;
}

.button {
	padding: 1rem;
	border: 0.1rem #808080 solid;
	border-radius: 0.5rem;
	cursor: pointer;
}

.button:hover {
	border: 0.1rem #404040 solid;
}

.button.primary {
	background-color: #f0c040;
}

.button.secondary {
	background-color: #f0f0f0;
}

.text-center {
	text-align: center;
}
