/* .grid-container {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
}

.main .content {
	grid-area: main;
	height: 85vh !important;
} */

/* .header {
	grid-area: header;
}

.footer {
	grid-area: footer;
} */
